@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$text-color: #b1bdb4;

$black-primary: #16181b;
$black-secondary: #121417;
$border-color: #4c4c4c;

$breakpoint-medium: 1222px;
$breakpoint-small: 520px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $text-color;
  background: $black-primary;
  //   border: 2px solid $border-color;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}
@mixin line-clampp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}
// To remove the scrollbar of overall view
::-webkit-scrollbar {
  width: 0;
}
